*{
    font-size: 1.05em;
}
body{
    background-image: linear-gradient(to bottom, blue, white);
    height: 99vh;
}
div{
    background-color: blue;
    width: 75%;
    min-width: 400px;
    margin: 5px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px;
    color: white;
}

.Botao{
    width: 200px;
    height: 3em;
    margin-left: 30%;
    border-radius: 25px;
    background-image: linear-gradient(to bottom,silver, white);

}

.CaixaEnd{
    width:55%;
    min-width: 300px;
    background-color: white;
}

.CaixaQuant{
    width:10%;
    min-width: 70px;
    background-color: white;
}

p{
    line-break: anywhere;
}
